

/* ==========================================================================
   Author's custom styles, using CSS LESS syntax
   ========================================================================== */
 // Core variables and mixins
@import "vendor/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "vendor/mixins.less"; 

body.wait {
  cursor: wait !important;
}

@galleryH : 720px;
.gallery {
  background-color: @grayLighter;
  margin: 20px;     /* undo body {padding-left/right} */
  padding: 0 20px;
  .border-radius(20px);
  .body {
    margin: 20px auto;
    min-height: @galleryH - (2*20);
  }
}




// for flickr-style layout
.gallery {
  &, & .body {
    position: relative; /* for position:absolute within */
    overflow: hidden; /* Stretch to fit floated content */
  }
  & .body .page {
    position: relative; /* for position:absolute within */
    overflow: hidden; /* Stretch to fit floated content */
   }
}


/*
 * view=Thumbnail
 * .thumb = .photo
 * .photo_container_th = .crop-wrap
 * .photoLink = .crop
 */
.thumb {
  &, &.crop-wrap {
    width:auto;
    height:auto;  
  }
  float: left;
  margin:0;
  .flickrd & {    // for flickr style absolute positioning
    float: none;
    position: absolute;
  }
  .crop {
    display:block;
    position:relative;
    overflow:hidden;
    img {
      display:block;
      position:relative;
      margin: 0 !important;
      /* reset */
      max-width: none;
    }
  }
}




.gallery .header {
  margin-top: -38px;
  position: fixed;
  z-index: 100;
  width: 100%;
  .pager {
    margin: 5px 0;
    .pagination {
      margin: 0;
      li.disabled span {
        background-color: #F5F5F5;
      }
      span.pag-label {
        background-color: @grayLighter;
        color: #0088CC;
      }
      li > a, li > span {
        .border-radius(0);      // reset twbootstrap value
      }
    }
  }
  .display-options {
    
  }
}






