
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    text-shadow: none;
}
.input-block-level {
    -moz-box-sizing: border-box;
    display: block;
    min-height: 30px;
    width: 100%;
}
body {
    overflow-y: scroll;
}
.gallery {
    border-radius: 20px 20px 20px 20px;
    margin: 20px;
    padding: 0 20px;
}
.gallery .body {
    margin: 20px auto;
    min-height: 680px;
}
.page {
    overflow: hidden;
    position: relative;
}
.thumb {
    float: left;
    margin: 0;
}
.thumb, .thumb.crop-wrap {
    height: auto;
    width: auto;
}
.flickrd .thumb {
    float: none;
    position: absolute;
}
.thumb .crop {
    display: block;
    overflow: hidden;
    position: relative;
}
.thumb .crop img {
    display: block;
    margin: 0 !important;
    max-width: none;
    position: relative;
}
.thumb .meta {
    bottom: 0;
    font-size: 10.5px;
    left: 0;
    line-height: 1.3;
    margin-top: 5px;
    overflow: hidden;
    padding: 5px 0 0;
    position: absolute;
    right: 0;
    text-align: left;
    transition: all 0.15s ease-in-out 0s;
}
.thumb .meta > * {
    margin-left: 8px;
}
.thumb .meta .bottom-row {
    bottom: 0;
    height: 20px;
    margin: 0 8px;
    position: relative;
}
.thumb .meta .inline-icons {
    display: inline;
    margin-top: 2px;
    overflow: visible;
    z-index: 50;
}
.thumb .meta .inline-icons > .btn-icon {
    color: #005580;
    cursor: pointer;
    margin-left: 1em;
}
.thumb .meta .inline-icons > .btn-icon:first-child {
    margin-left: 0;
}
.thumb .meta .inline-icons.left {
    float: left;
}
.thumb .meta .inline-icons.right {
    float: right;
    text-align: right;
}
.thumb .meta .inline-icons .btn-icon.rating {
    white-space: nowrap;
}
.thumb .meta .inline-icons .btn-icon.rating .icon-star {
}
.thumb .meta:hover {
    transition: all 0.15s ease-in-out 0s;
}
.gallery .header {
    margin-top: 10px;
    width: 100%;
    z-index: 100;
}
.gallery .header .pager {
    margin: 5px 0;
    z-index: 100;
}
.gallery .header .pager .pagination {
    margin: 0;
}
.gallery .header .pager .pagination .item {
    display: block;
    line-height: 20px;
    padding: 0 10px;
}
.gallery .header .pager .pagination .page-label {
    padding: 2px 10px;
}
.pager.vertical-right {
    padding: 20px 0 20px 20px;
    position: fixed;
    right: 0;
    top: 85px;
    width: 40px;
}
.pager.vertical-right .pagination ul, .pager.vertical-right .pagination ul > li {
    display: block;
}
.pager.vertical-right .pagination ul > li {
    float: right;
}
body.wait {
    cursor: wait !important;
}
.gallery {
    background-color: #EEEEEE;
}
.gallery .page .empty-label {
    color: #999999;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.thumb-meta-hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: all 0.15s ease-in-out 0s;
}
.thumb-meta-hover .btn-icon:hover {
    color: #FFFFFF;
}
.thumb .meta {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    text-shadow: 1px 1px 0 #000000;
}
.thumb .meta .inline-icons {
    opacity: 0.6;
}
.thumb .meta .inline-icons .show-hidden-shot.best {
    color: #FFFF00;
}
.thumb .meta .inline-icons .score, .thumb .meta .inline-icons .icon-star {
    color: #FFFF00;
}
.thumb .meta:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    opacity: 1;
}
.thumb .meta:hover .btn-icon:hover {
    color: #FFFFFF;
}
.thumb.highlight {
}
.thumb.highlight.world {
    box-shadow: 0 0 4px 4px #8B0000;
}
.thumb.highlight.country {
    box-shadow: 0 0 4px 4px #FF8C00;
}
.thumb.highlight.region {
    box-shadow: 0 0 4px 4px #B8860B;
}
.shot-wrap:hover .thumb .meta {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: all 0.15s ease-in-out 0s;
}
.shot-wrap:hover .thumb .meta .btn-icon:hover {
    color: #FFFFFF;
}
.pager .pagination {
    color: #0088CC;
    font-size: 0.8em;
}
.pager .pagination .item {
    background-color: #FFFFFF;
}
.pager .pagination .page-label {
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
}
.pager .pagination .link {
    cursor: pointer;
}
.pager .pagination .loaded {
    color: #0064CD;
    font-weight: bold;
}
.pager .pagination .active {
    background-color: #CDE5FF;
    color: #0064CD;
    cursor: default;
    font-weight: bold;
}
.pager .pagination .disabled {
    background-color: #F5F5F5;
    cursor: default;
}
.pager.vertical-right {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px 0 0 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.gallery.pager-placeline .thumb .meta .bottom-row .inline-icons.left {
    display: none;
}
.gallery .body {
    transition-property: height, width;
}
.gallery .body, .gallery .body .thumb {
    transition-duration: 0.8s;
}
.gallery .body .thumb {
    transition-property: transform, opacity, top, left;
}
.fade {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transition: all 300ms linear 100ms;
}
.fade.fade-out {
    opacity: 0;
}


.pager .pagination .item[data-zoom="world"] {
    color: darkred;
}

.pager .pagination .item[data-zoom="country"] {
    color: #FF8C00;
}

.pager .pagination .item[data-zoom="region"] {
    color: #B8860B;
}

.pager .pagination .item[data-zoom="locality"] {
    color: darkgreen;
}

.zoom-active {
    opacity: 1;
}
.zoom-inactive {
    opacity: 0.5;
}

.gallery .header .pager .pagination .item.zoom-inactive {
    display:none;
}


.thumb.focus {
    outline: 1em solid rgba(255, 127, 0, 0.7);
    z-index: 100;
}