

/* ==========================================================================
   Author's custom styles, using CSS LESS syntax
   ========================================================================== */
 // Core variables and mixins
@import "vendor/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "vendor/mixins.less"; 

body.wait {
  cursor: wait !important;
}

@galleryH : 720px;
.gallery {
  background-color: @grayLighter;
  margin: 20px;     /* undo body {padding-left/right} */
  padding: 0 20px;
  .border-radius(20px);
  .body {
    margin: 20px auto;
    min-height: @galleryH - (2*20);
  }
}




// for flickr-style layout
.gallery {
  &, & .body {
    position: relative; /* for position:absolute within */
    overflow: hidden; /* Stretch to fit floated content */
  }
  & .body .page {
    position: relative; /* for position:absolute within */
    overflow: hidden; /* Stretch to fit floated content */
   }
}

.truncate {
    white-space: nowrap;
    width: 100%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}

/*
 * view=Thumbnail
 * .thumb = .photo
 * .photo_container_th = .crop-wrap
 * .photoLink = .crop
 */
.thumb {
  &, &.crop-wrap {
    width:auto;
    height:auto;  
  }
  float: left;
  margin:0;
  .flickrd & {    // for flickr style absolute positioning
    float: none;
    position: absolute;
  }
  
  .crop {
    display:block;
    position:relative;
    overflow:hidden;
    img {
      display:block;
      position:relative;
      margin: 0 !important;
      /* reset */
      max-width: none;
    }
  }
  
  .meta {
    padding: 5px 0 0;
    position: absolute;
    background: rgba(0,0,0,0);
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: @fontSizeMini;
    line-height: 1.3;
    margin-top: 5px;
    text-align: left;
    text-shadow: 1px 1px 0 black;
    overflow: hidden;
    transition: all .15s ease-in-out;
    > * {
      margin-left: 8px;
    }
    .title {
    }
    .owner {
    }
    .bottom-row {
      margin: 0 8px;
      position: relative;
      bottom: 0;
      height: 20px;
    }
    span.inline-icons {
      margin-top: 2px;
      opacity: 0.6;
      overflow: visible;
      z-index: 500;
      > * {
        margin-left: 1em;
        cursor: pointer;
      }
      > *:first-child {
        margin-left: 0;
      }
      a {
        text-decoration: none;
      }
      &.left {
        float: left;
      }
      &.right {
        float: right;
        text-align: right;
      }
      a.show-hidden-shot {
        .bestshot& {
          color: @yellow;
        }
      }
      a.rating {
        white-space: nowrap;
        .icon-star {
          color: @yellow;
          whitespace: nowrap;
        }
      }
    }
    
    &:hover {   // .meta:hover
      background: fade(@black,60%);
      opacity: 1;
      transition: all .15s ease-in-out;
      a:hover {
        color: #FFF;
      }
      .bottom-row {
      }
      span.inline-icons {
      }
    }
  }
}




.gallery .header {
  margin-top: -38px;
  position: fixed;
  z-index: 100;
  width: 100%;
  .pager {
    margin: 5px 0;
    .pagination {
      margin: 0;
      li.disabled span {
        background-color: #F5F5F5;
      }
      span.pag-label {
        background-color: @grayLighter;
        color: #0088CC;
      }
      li > a, li > span {
        .border-radius(0);      // reset twbootstrap value
      }
    }
  }
  .display-options {
    
  }
}


/*
 * css transitions from isotope
 */
@transitionDuration: 0.8s;
.gallery .body {
  &, & .thumb {
    -webkit-transition-duration: @transitionDuration;
    -moz-transition-duration: @transitionDuration;
    -ms-transition-duration: @transitionDuration;
    -o-transition-duration: @transitionDuration;
    transition-duration: @transitionDuration;
  }
  
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;

  /*
   * isotope pattern is to use 'transform: translate3d([top]px, [left]px, 0px)'
   */
  .thumb{
    -webkit-transition-property: -webkit-transform, opacity, top, left;
    -moz-transition-property: -moz-transform, opacity, top, left;
    -ms-transition-property: -ms-transform, opacity, top, left;
    -o-transition-property: -o-transform, opacity, top, left;
    transition-property: transform, opacity, top, left;
  }
}
