<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

		
		<link href="css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
		<link href="css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <!-- <link rel="stylesheet" href="css/main.less"  type="text/less"> -->
		<!-- <script type="text/javascript" src="js/vendor/less-1.4.1.min.js"></script> -->
		<link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Backbone.js Playground</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav hidden">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form pull-right hide">
                            <input class="span2" type="text" placeholder="Username">
                            <input class="span2" type="password" placeholder="Password">
                            <button type="submit" class="btn">Sign in</button>
                        </form>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
		</div> <!-- /container -->
        <div class='gallery'>
        	<div class='header'>
        		<aside class='pager vertical-right'></aside>
        		<aside class='display-options'></aside>
        	</div>
        	<div class='body clearfix'></div>
        	<div class='footer'></div>
        </div>   <!-- /.gallery -->

		<div class="container">
            <hr>
            <footer>
                <p>&copy; Company 2013</p>
            </footer>
		</div> <!-- /container -->
        
        <div id="markup" class="hide">
        	<script id="PhotoTemplate" class='handlebars' type="text/x-handlebars-template">
	        	<div id="{{photoId}}" class="thumb fade fade-out {{orientationLabel}}" style="{{top}}{{position}}">
	        		<div class="crop-wrap">
	        			<div class="crop">	        				<img class="" src="" 
	        					data-w0="{{origW}}"
	        					data-h0="{{origH}}"
	        					data-root-src="{{rootSrc}}"
	        				>
	    				</div>
	    			</div>
	    			<div class="meta">
	    				<div class="title truncate">
	    					{{caption}}
	    				</div>
    					<div class="attribution-block hide">
    						<span class="attribution">
    							<span>by </span><a class="owner">Owner</a>
							</span>
						</div>
						<div class='bottom-row'> 
							<span class="inline-icons left">
		    					{{#if shotCount}}<a class='show-hidden-shot' href="#" title='click to hide duplicate shots'><icon class='icon-reorder'>{{shotCount}}</icon></a>{{/if}}
		    					<span class="score" title="score: {{#if score}}score{{else}}0{{/if}}">{{#if score}}score{{else}}0{{/if}}<icon class='icon-star{{#unless score}}-empty{{/unless}}'></icon></span>
		    					<a href="#" class='rating' title='rating: {{rating}}'>
		    						{{#ratingStars rating}}{{/ratingStars}}
		    					</a>
	    					</span>
							<span class="inline-icons right">
								<a href="#" title='favorite (planned)'><icon class='icon-heart active'></icon></a>
								<a href="#" title='taken: {{dateTaken}}'><icon class='icon-info-sign'></icon></a>	
								<a href="#" title='show full screen (planned)'><icon class='icon-resize-full'></icon></a>
							</span>
						</div>
					</div>
				</div>
			</script>
			<script id="ShotTemplate" class='handlebars' type="text/x-handlebars-template">
	        	<div id="{{photoId}}" class="thumb fade fade-out {{orientationLabel}}" style="{{top}}{{position}}">
	        		<div class="crop-wrap">
	        			<div class="crop">
	        				<img class="" src="" 
	        					data-w0="{{origW}}"
	        					data-h0="{{origH}}"
	        					data-root-src="{{rootSrc}}"
	        				>
	    				</div>
	    			</div>
	    			<div class="meta">
	    				<div class="title truncate">
	    					{{caption}}
	    				</div>
    					<div class="attribution-block hide">
    						<span class="attribution">
    							<span>by </span><a class="owner">Owner</a>
							</span>
						</div>
						<div class='bottom-row'> 
							<span class="inline-icons left">
		    					{{#if shotCount}}<a class='show-hidden-shot best' href="#" title='click to show {{shotCount}} duplicate shots'><icon class='icon-reorder'>{{shotCount}}</icon></a>{{/if}}
		    					<span class="score" title="score: {{#if score}}score{{else}}0{{/if}}">{{#if score}}score{{else}}0{{/if}}<icon class='icon-star{{#unless score}}-empty{{/unless}}'></icon></span>
		    					<a href="#" class='rating' title='rating: {{rating}}'>
		    						{{#ratingStars rating}}{{/ratingStars}}
		    					</a>
	    					</span>
							<span class="inline-icons right">
								<a href="#" title='favorite (planned)'><icon class='icon-heart active'></icon></a>
								<a href="#" title='taken: {{dateTaken}}'><icon class='icon-info-sign'></icon></a>	
								<a href="#" title='show full screen (planned)'><icon class='icon-resize-full'></icon></a>
							</span>
						</div>
					</div>
				</div>
			</script>
			<script id="PagerBootstrap" class='underscore' type="text/html">
				<div class='pagination pagination-centered pagination-small'>
					<ul class='page'>
						<li class="item page-label">Page</li>
						<% var state = (currentPage == 1) ? 'disabled' : 'link'; %> 
						<li class="item prev <%= state %>">&laquo;</li>
						<% _.each (pageSet, function (p) { %>
							<% if (currentPage == p) { %>
								<li class="item active"><%= p %></li>
							<% } else { %>
								<li class="item link"><%= p %></li>
							<% } %>
						<% }); %>
						<% var state = (lastPage != currentPage && lastPage != 0) ? 'link' : 'disabled'; %> 
						<li class="item next <%= state %>">&raquo;</li>
					</ul>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<ul class='perpage howmany'>
						<li class="item page-label">Per Page</li>
						<% _.each ([20,50,100], function (p,i) { %>
							<% if (perPage == p) { %>
								<li class="item active"><%= p %></li>
							<% } else { %>
								<li class='item link'><%= p %></li>
							<% } %>
						<% }); %>
					</ul>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<ul class="showing">
						<li class='item page-label'>
							<%= showing %>/<%= totalRecords %> Photos
						</li>
					</ul>
				</div>
			</script>
			<script id="Timeline" class='underscore' type="text/html">
				<div class='pagination pagination-centered pagination-small'>
					<ul class='page'>
						<li class="item page-label">Period</li>
						<% var state = (active == 0) ? 'disabled' : 'link'; %> 
						<li class="item prev <%= state %>">&laquo;</li>
						<% _.each (periods, function (e,i,l) { 
								var state = (active == i) ? 'active' : 'link';
								state += (fetched[e.period+'-'+currentZoom]) ? ' loaded' : '';
							%>
							<% if (active == i) { %>
								<li class="item period-<%= e.period %> <%= state %>" data-zoom="<%= currentZoom %>"><%= e.label %></li>
							<% } else { %>
								<li class="item period-<%= e.period %> <%= state %>" data-zoom="<%= currentZoom %>"><%= e.label %></li>
							<% } %>
						<% }); %>
						<% var state = (active < periods.length-1) ? 'link' : 'disabled'; %> 
						<li class="item next <%= state %>">&raquo;</li>
					</ul>
					<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<ul class='perpage howmany'>
						<li class="item page-label">Zoom</li>
						<% _.each (['Year', 'Month', 'Event'], function (p,i) { %>
							<% if (currentZoom == p.toLowerCase()) { %>
								<li class="item active"><%= p %></li>
							<% } else { %>
								<li class='item link'><%= p %></li>
							<% } %>
						<% }); %>
					</ul>
				</div>
			</script>
			<script id="GalleryDisplayOptions" class='handlebars' type="text/x-handlebars-template">
				<div class='text-center'>
					<div class="btn-group style">
					{{#buttonGroupButtons style "Style"}}
						<button class="btn btn-primary btn-small {{active}} {{disabled}}">{{label}}</button>
					{{/buttonGroupButtons}}
					</div>
					<div class="btn-group style">
					{{#buttonGroupButtons size "Size"}}
						<button class="btn btn-primary btn-small {{active}} {{disabled}}">{{label}}</button>
					{{/buttonGroupButtons}}
					</div>
					<div class="btn-group filter" data-filter="rating">
					{{#buttonGroupButtons rating "Rating"}}
						<button class="btn btn-primary btn-small {{active}} {{disabled}}">{{#ratingStars label}}{{/ratingStars}}</button>
					{{/buttonGroupButtons}}
					</div>
				</div>
			</script>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/handlebars.js"></script>
        <script src="js/vendor/backbone.js"></script>
        
        <!-- demo bootstrap data -->
        <script src="js/snappi-bootstrap.js"></script>
        
        <!-- main app -->
		<script src="js/main.js"></script>
		
		<!-- mixins & libs -->
		<script src="js/mixins/snappi.js"></script>
		<script src="js/mixins/template.js"></script>
		<script src="js/mixins/uiactions.js"></script>
		<script src="js/mixins/layout.engine.js"></script>

		<!--Backbone.Paginator-->
		<script src="js/vendor/backbone.paginator-0.9.0-dev.js"></script>

		<!--Models/Collections-->
		<script src="js/models/timeline.js"></script>
		<script src="js/models/photo.js"></script>
		<script src="js/collections/hiddenshot.js"></script>
		
        <script src="js/models/shot.js"></script>
        <script src="js/models/rating.js"></script>
        
        <script src="js/collections/gallery.js"></script>

		<!--Views-->
		<script src="js/views/timeline.js"></script>
        <script src="js/views/photo.js"></script>
        <script src="js/views/shot.js"></script>
        <script src="js/views/pager.js"></script>
        <script src="js/views/gallerydisplayoptions.js"></script>
        <script src="js/views/gallery.js"></script>
		
        
    </body>
</html>
